<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<body>
<input type="hidden" th:value="${reportTask.taskId}" name="taskId">
    <div class="form-group">
        <label class="col-sm-1 control-label">
            姓名
        </label>

        <div class="col-sm-4">
            <input type="text" name="realName" maxlength="4" required
                   class="form-control" th:value="${reportTask.realName}">
        </div>
    </div>
<div class="form-group">
    <label class="col-sm-1 control-label">
        联系方式
    </label>

    <div class="col-sm-4">
        <input type="text" name="mobile" maxlength="20" required
               class="form-control" th:value="${reportTask.mobile}">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-1 control-label">
        工作单位职务
    </label>

    <div class="col-sm-4">
        <input type="text" name="workUnit" maxlength="20"
               class="form-control" th:value="${reportTask.workUnit}">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-1 control-label">
        所属镇街
    </label>

    <div class="col-sm-4">
        <input type="hidden" name="lastTown" th:value="${reportTask.town}">
        <select class="form-control" name="town" th:defaultValue="${reportTask.town}">
        </select>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-1 control-label">
        所属村社
    </label>

    <div class="col-sm-4">
        <select class="form-control" name="community" th:defaultValue="${reportTask.community}">
        </select>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-1 control-label">
        月任务数量
    </label>

    <div class="col-sm-4">
        <input type="number" name="taskNum" min="1" required
               class="form-control" th:value="${reportTask.taskNum}">
    </div>
</div>
    <div class="form-group" >
        <label class="col-sm-1 control-label">
        </label>

        <div class="col-sm-10">
            <button type="submit"
                    class="ladda-button btn btn-primary" data-style="zoom-out">提交</button>
        </div>
    </div>
</div>
<script>
    $(function(){
        new AddressSelector("[name=town]","[name=community]");
    })
</script>
</body>
</html>