<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{base}">
<head>

</head>
<body>
<th:block layout:fragment="content">
    <div class="container" id="container">
        <div class="page msg_warn js_show">
            <div class="weui-msg">
                <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
                <div class="weui-msg__text-area">
                    <h2 class="weui-msg__title">未关注</h2>
                </div>
                <div class="weui-msg__opr-area">
                    <p class="weui-btn-area">
                        <a href="index" class="weui-btn weui-btn_primary">返回首页</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="~{share_js}"></th:block>
</th:block>
</body>
</html>