<?xml version="1.0" encoding="UTF-8" ?>
		<!DOCTYPE mapper
				PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
				"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="RolePermission">

	<resultMap id="RM_RolePermission" type="com.es.ssp.model.RolePermission">
        <result property="rpId" column="rpId"/>
        <result property="roleId" column="roleId"/>
        <result property="permissionId" column="permissionId"/>
	<association property="permission" column="permissionId" fetchType="lazy"
			 select="Permission.getById" />
	<association property="role" column="roleId" fetchType="lazy"
			 select="Role.getById" />
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="RolePermission.columns">
	    <![CDATA[
		rpId,roleId,permissionId
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="RolePermission.insert" useGeneratedKeys="true" keyProperty="rpId">
    <![CDATA[
        INSERT INTO u_role_permission (
         rpId, roleId, permissionId
        ) VALUES (
         #{rpId}, #{roleId}, #{permissionId}        
        )
    ]]>
		<!--	
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
			DB2: order="BEFORE"" values nextval for sequenceName
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
			SELECT sequenceName.nextval AS ID FROM DUAL 
        </selectKey>
		-->
	</insert>
    
	<update id="RolePermission.update" >
    <![CDATA[
        UPDATE u_role_permission SET
	        roleId = #{roleId} , permissionId = #{permissionId}  
        WHERE 
        	rpId = #{rpId}  	        
    ]]>
	</update>

    <delete id="RolePermission.delete">
    <![CDATA[
        DELETE FROM u_role_permission WHERE
        rpId = #{id} 
    ]]>
    </delete>
    
    <select id="RolePermission.getById" resultMap="RM_RolePermission">
		SELECT <include refid="RolePermission.columns" />
	    <![CDATA[
		    FROM u_role_permission 
	        WHERE 
		        rpId = #{id} 
	    ]]>
	</select>
	
	<sql id="RolePermission.findPage.where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
	       <if test="@Ognl@isNotEmpty(rpId)">
				AND rpId = #{rpId}
			</if>
	       <if test="@Ognl@isNotEmpty(roleId)">
				AND roleId = #{roleId}
			</if>
	       <if test="@Ognl@isNotEmpty(permissionId)">
				AND permissionId = #{permissionId}
			</if>
		</where>
	</sql>
		
    <select id="RolePermission.findPage.count" resultType="long">
        SELECT count(*) FROM u_role_permission 
		<include refid="RolePermission.findPage.where"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="RolePermission.findPage" resultMap="RM_RolePermission">
    	SELECT <include refid="RolePermission.columns" />
	    FROM u_role_permission 
		<include refid="RolePermission.findPage.where"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
		LIMIT #{offset},#{limit}
    </select>


    <select id="RolePermission.findByPermissionId" resultMap="RM_RolePermission">
        SELECT <include refid="RolePermission.columns" />
        FROM u_role_permission
        WHERE permissionId=#{id}
    </select>

    <select id="RolePermission.findByRoleId" resultMap="RM_RolePermission">
        SELECT <include refid="RolePermission.columns" />
        FROM u_role_permission
        WHERE roleId=#{id}
    </select>


    <select id="RolePermission.findAll" resultMap="RM_RolePermission">
	    SELECT <include refid="RolePermission.columns" />
		FROM u_role_permission
		<include refid="RolePermission.findPage.where"/>
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
		<if test="@Ognl@isNotEmpty(limit)">
			LIMIT #{limit}
		</if>
	</select>
</mapper>

