<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_HOME" value="D:/logs" />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoder 默认配置为PatternLayoutEncoder -->
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	 <appender name="err" class="ch.qos.logback.core.rolling.RollingFileAppender"> 
     <file>${LOG_HOME}/mobile-error.log</file>
     <filter class="ch.qos.logback.classic.filter.LevelFilter"> 
          <level>ERROR</level> 
          <onMatch>ACCEPT</onMatch> 
          <onMismatch>DENY</onMismatch> 
    </filter> 
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> 
        <!--每日备份日志存储格式和位置 --> 
        <fileNamePattern>${LOG_HOME}/bak/mobile-error.%d{yyyy-MM-dd}.log</fileNamePattern>
         <!--最大保存天数 --> 
        <maxHistory>3650</maxHistory> 
    </rollingPolicy> 
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
 </appender> 
  
 <appender name="suc" class="ch.qos.logback.core.rolling.RollingFileAppender"> 
    <file>${LOG_HOME}/mobile.log</file>
         
    <filter class="ch.qos.logback.classic.filter.LevelFilter"> 
          <level>INFO</level> 
          <onMatch>ACCEPT</onMatch> 
          <onMismatch>DENY</onMismatch> 
    </filter> 
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> 
         <fileNamePattern>${LOG_HOME}/bak/mobile.%d{yyyy-MM-dd}.log</fileNamePattern>
         <maxHistory>3650</maxHistory> 
    </rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
 </appender>
 <appender name="bug" class="ch.qos.logback.core.rolling.RollingFileAppender"> 
       <file>${LOG_HOME}/mobile-debug.log</file>
         
    <filter class="ch.qos.logback.classic.filter.LevelFilter"> 
          <level>DEBUG</level> 
          <onMatch>ACCEPT</onMatch> 
          <onMismatch>DENY</onMismatch> 
    </filter> 
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> 
         <fileNamePattern>${LOG_HOME}/bak/mobile-debug.%d{yyyy-MM-dd}.log</fileNamePattern>
         <maxHistory>365</maxHistory> 
    </rollingPolicy> 
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
 </appender>


	<root level="INFO">
  		<appender-ref ref="suc" />
  		<appender-ref ref="err" />
  		<appender-ref ref="bug" /> 
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="org.hibernate.jpa.spi.AbstractQueryImpl" level="ERROR"/>

	<logger name="jdbc.sqlonly" level="WARN"/>  
	<logger name="jdbc.sqltiming" level="INFO"/>  
	<logger name="jdbc.resultsettable" level="WARN"/>  
	<logger name="jdbc.resultset" level="WARN"/>  
	<logger name="jdbc.connection" level="WARN"/>  
	<logger name="jdbc.audit" level="WARN"/>

</configuration> 